.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.tab.active {
  background-color: #fff;
  border: 1px solid #ccc;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 4px 12px;
  font-size: 1em;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}